.default {
  background-color: #000000;
  color: #ffffff;
}
unknown {
  // background-mode: dark;
  // border-color: black;
  // cursor-color: #A7A7A7;
  // mouse-color: sienna1;
}
.blue {
  color: #0000ff;
}
.bold {
  font-weight: bold;
}
.bold-italic {
  font-weight: bold;
}
.buffers-tab {
  background-color: #000000;
  color: #ffffff;
}
.builtin {
  color: #ffffff;
}
.comment {
  color: #5F5A60;
}
.constant {
  color: #CF6A4C;
}
.doc-string {
  color: #ff8c00;
}
.function-name {
  color: #9B703F;
}
.keyword {
  color: #CDA869;
}
.preprocessor {
  color: #7fffd4;
}
.reference {
  color: #6a5acd;
}
.font-lock-regexp-grouping-backslash {
  color: #E9C062;
}
.font-lock-regexp-grouping-construct {
  color: #ff0000;
}
.string {
  color: #8F9D6A;
}
.type {
  color: #9B703F;
}
.variable-name {
  color: #7587A6;
}
.warning {
  font-weight: bold;
  foreground-color: #ffc0cb;
}
.inspecting {
  border-color: #ffc0cb;
}
.gui-element {
  background-color: #303030;
  color: #000000;
}
.region {
  background-color: #444444;
}
.mode-line {
  background-color: #303030;
  color: #000000;
}
.highlight {
  background-color: #222222;
}
.highline-face {
  background-color: #2e8b57;
}
.text-cursor {
  background-color: #ffff00;
  color: #000000;
}
.zmacs-region {
  background-color: #fffafa;
  color: ble;
}

